.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
  }
  
  /* Container for flexboxes */
  .row {
    display: -webkit-flex;
    display: flex;
  }
  
  /* Create three unequal columns that sits next to each other */
  .column {
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Left and right column */
  .column.side {
     -webkit-flex: 1;
     -ms-flex: 1;
     flex: 1;
  }
  
  /* Middle column */
  .column.middle {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
  
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }
  
  @media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }

  .popup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
    animation: fadeIn 1s ease forwards;
}

.popup-error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a43533;
}

.popup-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

.popup-fade-in {
  animation: fadeIn 1s ease forwards;
}

.popup-fade-out {
  animation: fadeOut 1s ease forwards;
}
